	<!-- Parallax Background
	================================================== -->
	<!-- image is set in the CSS as a background image -->
	<div id="parallax" class="fullscreen-bg">
	    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
	        <source src="assets/media/cooperate.webm" type="video/webm">
	        <source src="assets/media/cooperate.mp4" type="video/mp4">
	        <source src="assets/media/cooperate.ogg" type="video/ogg">
	    </video>		
	</div>

	<!-- End Parallax Background
	================================================== -->

	<!-- Start Header
	================================================== -->
	<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <!-- Your Logo -->
	      <a href="../" class="navbar-brand">Myron B. Thompson Academy</a>
	    </div>
	    <!-- Start Navigation -->
	    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	      <ul class="nav navbar-nav">
	        <li>
	          <a href="/#/#hero">Home</a>
	        </li>
	        <li>
	          <a href="/#/#features">About Us</a>
	        </li>
	        <!--
	        <li>
	          <a href="/#/#image">What's </a>
	        </li>
	        -->
	        <li>
	          <a href="/#/#gallery">What's Happening</a>
	        </li>
	        <li>
	          <a href="/#/#faq">FAQ</a>
	        </li>
	        <li>
	          <a href="/#/#slider">Programs</a>
	        </li>
	        <li>
	          <a href="/#/#newsletter">Subscribe</a>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right header-button">
	        <li>
	          <button type="button" class="btn btn-primary" onclick="window.location.href='https://mbta.instructure.com'">Apply Now</button>
	        </li>
	      </ul>
	    </nav>
	  </div>
	</header>
	<!-- ==================================================
	End Header -->
	
	<!-- Start Hero Section
	================================================== -->
	<section id="hero" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-7">
					<div class="lp-element animate" data-animate="fadeInDown">
						<img class="img-responsive" src="assets/images/mbta_hero.png" style="float:right; z-index: -100; position:absolute; bottom:0px; right:20px;"/>
						<h1 class="green">Equity & Excellence</h1>
						<p class="lead">We are a innovative, competency-based K12 public charter school that provides high quality standards-based curriculum.</p>
						<p><!--<a class="btn btn-success btn-lg" role="button">Enter Courses</a>--> 
						<a class="btn btn-success btn-lg" role="button" href="https://mbta.instructure.com">Enter Courses</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ================================================== 
	End Hero -->
	
	<!-- Start Features
	================================================== -->
	<section id="features" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Title -->
					<div class="overview animate" data-animate="flipInX">
						<h1><strong class="green">Welcome</strong> to Myron B. Thompson Academy</h1>
						<p class="lead">Our goal is to work closer with you to provide high quality education for your children. We appreciate your dedication and commitment. Our staff is ready and able to provide you with engaging online classes, face-to-face elective classes, instructional strategies, technical advice, and moral support.
						 </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="service-block animate" data-animate="fadeInRight">
						<!--<span class="glyphicon glyphicon-tree-conifer"></span>-->
						<img class="responsive" style="width:30%; height:30%;"src="assets/images/about/taro-icon.png"/>
						<h3>Our Vision</h3>
						<p>MBTA creates an innovative, student-centered learning environment that provides equity, access and excellence for learners anywhere, anytime.</p>
						<button type="button" class="btn btn-success btn-md btn-rocket btn-rocket-default">Learn More</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="service-block animate" data-animate="flipInY">
						<!--<span class="glyphicon glyphicon-stats"></span>-->
						<img class="responsive" style="width:30%; height:30%;"src="assets/images/about/computer-icon-flat.png"/>
						<h3>How we teach</h3>
						<p>We are a innovative competency-based K-12 public charter school that provides high quality standards-based curriculum 
to all students across the state.</p>
						<button type="button" class="btn btn-success btn-md btn-rocket btn-rocket-default">Learn More</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="service-block animate" data-animate="fadeInLeft">
						<!--<span class="glyphicon glyphicon-tree-deciduous"></span>-->
						<img class="responsive" style="width:30%; height:30%;"src="assets/images/about/scores-icon-flat.png"/>
						<h3>Our test Scores</h3>
						<p>For the second time, U.S.News and World Reports awarded MBTA a Bronze medal in its list of the Best Schools in America.</p>
						<button type="button" class="btn btn-success btn-md btn-rocket btn-rocket-default">Learn More</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="service-block animate" data-animate="flipInX">
						<!--<span class="glyphicon glyphicon-heart"></span>-->
						<img class="responsive" style="width:30%; height:30%;"src="assets/images/about/stem-icon-flat.png"/>
						<h3>Our Programs</h3>
						<p>MBTA just earned an A+ rating from Honolulu magazine in its annual listing of Hawaii's public schools. MBTA was rated second of 67 public high schools</p>
						<button type="button" class="btn btn-success btn-md btn-rocket btn-rocket-default">Learn More</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- ==================================================
	End Features -->
	
	<!-- Start Image Block
	================================================== -->
	<section id="image" class="section" style="background-color:#eee; border-top: 1px solid rgba(0, 0, 0, .1);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 sol-sm-12">
					<div class="overview animate" data-animate="flipInX">
						<h1><strong class="green">Perfect</strong> app landing page</h1>
						<p class="lead">Quickly build prospective best practices vis-a-vis sticky quality vectors. Dynamically plagiarize viral models before installed base functionalities. </p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12"><img class="animate img-responsive" data-animate="fadeInLeft" src="demo/Beauty-Store-App-Full.png" alt=""/></div>
				<div class="col-md-6 col-sm-12">
					<div class="content-block animate" data-animate="fadeInRight" style="margin-top: 60px;">
						<h2 class="green">Super Animations</h2>
						<p class="lead">Animate.css is a bunch of cool, fun, and cross-browser animations for you.</p>
						<hr />
						<p><a href="#">Link Text</a> Collaboratively <em>rendered as italicized text</em> envisioneer magnetic schemas through <small>This line of text is meant to be treated as fine print.</small> synergistic technologies. Holisticly seize professional ideas before wireless metrics. Appropriately drive <strong>rendered as bold text</strong> progressive <abbr title="attribute">attr</abbr> catalysts <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>.</p>
						<button class="btn btn-md btn-primary">Learn More</button>
						<button class="btn btn-md btn-default">Purchase Now</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- ==================================================
	End Image Blcok -->
	
	<!-- Start Gallery Block
	================================================== -->
	<section id="gallery" class="section" style="background-color:#2D7A2D;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 sol-sm-12">
					<div class="overview animate" data-animate="flipInY">
						<h1>What's <strong>Happening</strong> @ MBTA</h1>
						<!--
						<p class="lead">Quickly build prospective best practices vis-a-vis sticky quality vectors. Dynamically plagiarize viral models before installed base functionalities. </p>
						-->
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="assets/images/happenings/1.png" title="Na Hoku Hanohano Winner">
						<img src="assets/images/happenings/1.png" alt="Na Hoku" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="assets/images/happenings/2.png" title="Congratulations, Kira Gatiuan!">
						<img src="assets/images/happenings/2.png" alt="Kira Gatiuan" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="assets/images/happenings/3.png" title="This is the description">
						<img src="assets/images/happenings/3.png" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="assets/images/happenings/4.png" title="This is the description">
						<img src="assets/images/happenings/4.png" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="assets/images/happenings/5.png" title="This is the description">
						<img src="assets/images/happenings/5.png" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="assets/images/happenings/6.png" title="This is the description">
						<img src="assets/images/happenings/6.png" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="demo/gallery/7.png" title="This is the description">
						<img src="demo/gallery/7.png" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="demo/gallery/8.png" title="This is the description">
						<img src="demo/gallery/8.png" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="demo/gallery/9.png" title="This is the description">
						<img src="demo/gallery/9.png" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="demo/gallery/10.png" title="This is the description">
						<img src="demo/gallery/10.png" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="demo/gallery/11.png" title="This is the description">
						<img src="demo/gallery/11.png" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a href="demo/gallery/12.png" title="This is the description">
						<img src="demo/gallery/12.png" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
					</a>
				</div>
				
			</div>
		</div>
	</section>
	
	<!-- ==================================================
	End Gallery Blcok -->
	
	<!-- Start Text Block
	================================================== -->
	<section id="faq" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 sol-sm-12">
					<div class="overview animate" data-animate="flipInY">
						<h1 class="green">Frequently Asked Questions</h1>
						<p class="lead">Quickly build prospective best practices vis-a-vis sticky quality vectors. Dynamically plagiarize viral models before installed base functionalities. </p>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<img class="animate img-responsive" data-animate="fadeInLeft" src="demo/all-iphone-screens.jpg" alt=""/>
				</div>	
				<div class="col-md-12 col-sm-12">
					<div class="faq-block animate" data-animate="fadeInLeft">
						<div class="panel-group" id="accordion">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						          Anim pariatur cliche reprehenderit, enim eiusmod ?
						        </a>
						      </h4>
						    </div>
						    <div id="collapseOne" class="panel-collapse collapse in">
						      <div class="panel-body">
						        Food truck quinoa nesciunt laborum eiusmod. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						          Food truck quinoa nesciunt laborum eiusmod ?
						        </a>
						      </h4>
						    </div>
						    <div id="collapseTwo" class="panel-collapse collapse">
						      <div class="panel-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						           Widtholf moon officia aute?
						        </a>
						      </h4>
						    </div>
						    <div id="collapseThree" class="panel-collapse collapse">
						      <div class="panel-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						           Moon officia aute, non cupidatat skateboard dolor brunch?
						        </a>
						      </h4>
						    </div>
						    <div id="collapseFour" class="panel-collapse collapse">
						      <div class="panel-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
						           Pariatur cliche reprehenderit, enim eiusmod high?
						        </a>
						      </h4>
						    </div>
						    <div id="collapseFive" class="panel-collapse collapse">
						      <div class="panel-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</section>
	
	<!-- ==================================================
	End Text Blcok -->
	
	<!-- Start Newsletter Block
	================================================== -->
	<section id="slider" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="Carousel" class="carousel slide">
					        <ol class="carousel-indicators">
					            <li data-target="Carousel" data-slide-to="0" class="active"></li>
					            <li data-target="Carousel" data-slide-to="1"></li>
					            <li data-target="Carousel" data-slide-to="2"></li>
					        </ol>
					
					        <div class="carousel-inner">
					            <div class="item active animate" data-animate="flipInY">
					                <blockquote>
					                  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					                  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
					                </blockquote>					            </div>
					           <div class="item animate" data-animate="flipInY">
					             	<blockquote>
					             	  <p class="lead">Bootstrap has a few easy ways to quickly get started, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.</p>
					             	  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
					             	</blockquote>
					           </div>
					           <div class="item animate" data-animate="flipInY">
					           		<blockquote>
						             	<p class="lead">Bring Bootstrap's components to life with over a dozen custom jQuery plugins. Easily include them all, or one by one.</p>
						             	<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
					             	</blockquote>
					            </div>
					        </div>
					
					        <a class="left carousel-control" href="#Carousel" data-slide="prev">
					            <span class="glyphicon glyphicon-chevron-left"></span>
					        </a>
					        <a class="right carousel-control" href="#Carousel" data-slide="next">
					            <span class="glyphicon glyphicon-chevron-right"></span>
					        </a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==================================================
	End Slider Blcok -->
	
	<!-- Start Newsletter Block
	================================================== -->
	<section id="newsletter" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="overview animate" data-animate="fadeInDown">
						<h1><strong class="green">Follow Us</strong></h1>
						<p class="lead">For up to date information about activities @MBTA, follow us on Social Media</p>
					</div>
					<form role="form" class="animate" data-animate="fadeInUp">
						<div class="input-group">
			            	<input type="text" class="form-control input-lg" placeholder="Enter email">
			            	<span class="input-group-btn">
			              		<button class="btn btn-lg btn-default" type="button">Subscribe Me</button>
			            	</span>
			          	</div>
		          	</form>
				</div>
			</div>
		</div>
	</section>
	<!-- ==================================================
	End Newsletter Blcok -->
	
		<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/js/jquery-1.10.2.min.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<script src="assets/js/waypoints.min.js"></script>
	<script src="assets/js/jquery.scrollto.min.js"></script>
	<script src="assets/js/jquery.localscroll.min.js"></script>
	<script src="assets/js/jquery.prettyPhoto.js"></script>
	<script src="assets/js/scripts.js"></script>